:root {
    --background: #11053b;
    --secondaryBackground: rgba(255, 255, 255, 0.2);
    --primary: #ff8c82; /* Cyan */
    --secondary: #a8c6fe; /* Darkcyan */
    --label: #ffffff; /* CyWhitean */
    --size: 100;
    --lineWidth: 2;
    --modelType: 0;
    --shouldAnimate: 1;

    --rXY: 0;
    --rXZ: 0;
    --rYZ: 0;
    --rXW: 0;
    --rYW: 0;
    --rZW: 0;
}